.navbar ul{
    list-style: none;
    gap: 5%;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    color: purple;
}

.collapse.navbar-collapse {
    margin-right: 120px;
}

.navbar-toggler {
    display: block;
}

.offcanvas {
    display: none;
}

.offcanvas.show {
    display: block;
}

