.navbar {
    background-color: #2F2020;
    height: 80px;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-right: 180px;
    gap: 20%;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-item a:hover {
    color: purple;
}