
body, html {
    width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #28282B;
}

/* Home Header */
.intro-header {
    background: linear-gradient(to bottom right, #6E5A4F, #feb47b);
}

.intro-header .col-12.col-md-8 {
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 1%;
}

.intro-header h4 {
    color: #a4add3;
    margin-bottom: 0px;
}

.intro-header h1 {
    color: beige;
}

.intro-header p {
    margin-top: 20px;
    margin-right: 10%;
    text-align: justify;
    color: beige;
}

.intro-header img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.socials {
    display: flex;
    flex-direction: row;
}

.socials ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 50%;
}

