<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
    <div id="navbar"></div>
    
    <header class="intro-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 mt-5 mb-5">
                    <h4>Hello!</h4>
                    <h1> I am Matthew Feri Tanutan</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <div class="socials">
                        <ul class="socials-list">
                            <li>
                                <i>fb</i>
                            </li>

                            <li>
                                <i>git</i>
                            </li>

                            <li>
                                <i>insta</i>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-4 mt-3 mb-3 mr-3 d-flex justify-content-center align-items-center">
                    <img src="../assets/me.jpg">
                </div>
            </div>
        </div>
    </header>

    <section class="body">
        <div class="container-fluid">
            <div class="row">
                
            </div>
        </div>
    </section>



    
    <script src="../scripts/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>