<nav class="navbar navbar-expand-md sticky-top w-100 navbar-dark">
    <div class="container-fluid">
        <a href="home.html" class="navbar-brand ms-3">
            <img src="home.html"> Portfolio ni Matt
        </a>

        <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end d-none d-md-flex">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="home.html" class="nav-link-home" aria-current="page">Home</a>
                </li>

                <li class="nav-item">
                    <a href="projects.html" class="nav-link-projects" aria-current="page">Projects</a>
                </li>

                <li class="nav-item">
                    <a href="blog.html" class="nav-link-blog" aria-current="page">Blog</a>
                </li>

                <li class="nav-item">
                    <a href="about.html" class="nav-link-about" aria-current="page">About</a>
                </li>

                <li class="nav-item">
                    <a href="contact.html" class="nav-link-contact" aria-current="page">Contact</a>
                </li>
            </ul>
        </div>

        <div class="offcanvas offcanvas-end text-bg-dark bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header d-flex">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body d-flex">
                <ul class="navbar-nav justify-content-end flex-grow-1 mb-3">
                    <li class="offnav-item">
                        <a href="home.html" class="nav-link-home" aria-current="page">Home</a>
                    </li>

                    <li class="offnav-item">
                        <a href="projects.html" class="nav-link-projects" aria-current="page">Projects</a>
                    </li>

                    <li class="offnav-item">
                        <a href="blog.html" class="nav-link-blog" aria-current="page">Blog</a>
                    </li>

                    <li class="offnav-item">
                        <a href="about.html" class="nav-link-about" aria-current="page">About</a>
                    </li>

                    <li class="offnav-item">
                        <a href="contact.html" class="nav-link-contact" aria-current="page">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
